* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    --hero-width: 40vw;
    --form-width: 60vw;
    --text-size: 1rem;
}

@font-face {
    font-family: 'NorseBold';
    src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 245, 255);
}

/* HERO */
.hero {
    color: white;
    position: relative;
}

.logo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.43);
    top: 10rem;
    width: var(--hero-width);
    padding: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-container>img {
    width: 4rem;
}

.logo-container>.title {
    font-size: 4rem;
    font-family: 'NorseBold', serif;
}

.image>img {
    height: 100vh;
    width: var(--hero-width);
    display: block;
}

.credits {
    position: absolute;
    bottom: 0.5rem;
    width: var(--hero-width);
}

.credits>p {
    text-align: center;
    font-size: calc(var(--text-size) - 0.3rem);
}

.credits>p>a {
    color: white;
}

/* FORM */
/* * { border: 1px solid red;} */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form> :first-child {
    padding: 0 1rem 4rem 2rem;
    font-size: calc(var(--text-size) + 0.5rem);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: clamp(var(--hero-width), calc((var(--hero-width) + var(--form-width)) / 2), var(--form-width));
}

.content {
    width: var(--form-width);
    padding: 60px 30px 40px 0;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 5px 0.1px grey;
    border: none;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

legend {
    position: absolute;
    top: 15px;
    left: 2rem;
    font-size: calc(var(--text-size) + 0.5rem);
    font-weight: bold;
}

label {
    font-size: calc(var(--text-size) - 0.3rem);
}
section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
section > div {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

input {
    font-size: 1.1rem;
    border-radius: 4px;
    border: #E5E7EB 0.6px solid;
    
}
input:focus {
    border: blue 2px solid;
    box-shadow: 2px 2px 5px grey;
    outline: none;
}

.button {
    border: none;
    padding: 2rem;
}

button {
    background-color: #596D48;
    padding: 0.7rem 2rem;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    transition: transform 0.2s ease;
}
button:hover{
    background-color: #67884b;
    transform: scale(1.1);
}

.form> :last-child {
    padding: 0 0 0 2rem;
    font-size: calc(var(--text-size) - 0.1rem);
}
.form> :last-child > a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

#password:valid, #confirm-password:valid {
    border-color: green;
}
#password:invalid, #confirm-password:invalid{
    border-color: red;
}

fieldset {
    position: relative;
}
.pass-error {
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: calc(var(--text-size));
    bottom: 0.5rem;
    left: 2rem;
}